# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
.next/
dist/
build/

# Prisma
backend/prisma/dev.db
backend/prisma/*.db

# Logs
*.log
npm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test coverage
coverage/

/generated/prisma
